body{
    font-family: Arial;
    margin:0;
    background:#f4f4f4;
}

header{
    background:#333;
    color:white;
    text-align:center;
    padding:20px;
}

.blog-container{
    width:80%;
    margin:auto;
    padding:40px;
}

.blog-card{
    width: 300px;
    background:white;
    box-shadow:0 0 10px gray;
    border-radius:10px;
}

.blog-card img{
    width:100px;
    height:200px;
    justify-content: space-between;
    position: relative;

}

.blog-content{
    padding:15px;
}

.blog-content h2{
    margin:0;
    font-size:22px;
}

.blog-content p{
    font-size:14px;
    color:#555;
}

.blog-text{
    width: 200px;
    height: 250px;
    padding:10px;
    justify-content: space-evenly;

}

.btn{
    display:inline-block;
    background:#333;
    color:white;
    padding:10px 15px;
    text-decoration:none;
    margin-top:10px;
}

.btn:hover{
    background:#555;
}

.detail-container{
    width:70%;
    margin:auto;
    background:white;
    padding:30px;
    margin-top:30px;
    justify-content: space-around;
}

.detail-img{
    width:200px;
    height:350px;
    float:right;
    margin-left:20px;
    margin-bottom:10px;

}
li a {
    text-decoration: none;
}
ul li a{
    list-style:none;
}